<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>健身管理</title>
    <meta name=viewport content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <script>
        var baseUrl = '{{ baseUrl }}';
        var CSRFToken = '{{ csrf_token }}';
    </script>
    {% load staticfiles %}
    <link href="{% static 'app.b51bfefb8696c026963f0bbe9b853fcf.css' %}" rel=stylesheet>
</head>
<body>
<app></app>
<script src="{% static 'app.5c5ba8dfd3c1162e573e.js' %}"></script>
</body>
</html>