<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>健身管理</title>
    <meta name=viewport content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <script>
        var baseUrl = '{{ baseUrl }}';
        var CSRFToken = '{{ csrf_token }}';
    </script>
    {% load staticfiles %}
    <link href="{% static 'app.15b4d72a3c94579319b6e3829e37ea39.css' %}" rel=stylesheet>
</head>
<body>
<app></app>
<script src="{% static 'sweetalert2.min.js' %}"></script>
<script src="{% static 'app.6512ec8b9b6c4917b03c.js' %}"></script>
</body>
</html>